.container {
	width:600px;
	height:800px;
	margin-left:auto;
	margin-right:auto;
}
#layout1 {
	width:100%;
	height:20px;
	background-color: #669933;
}
#info1{
	font-family: Verdana, Tahoma;
	font-size:13px;
	color:#ffffff;	
	float:left;
	text-align:center;
	margin-top:0;
	margin-left:240px;
}

#layout2 input{
	
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #b9b9b9;
	width:200px;
	height:15px;
	border:1px solid #669933;
	
}
#layout2 {
	
	width:94%;
	height:600px;
	border:2px solid #bcbcbc;
	background-color:#ececec;
	margin-left:auto;
	margin-right:auto;
	
	padding-top:20px;
	padding-bottom:20px;
	padding-left:30px;
}

form li {
	list-style: none;
	margin-bottom: 5px;
}

form ul li label{
	float: left;
	clear: left;
	width: 100px;
	text-align: right;
	margin-right: 10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	
}

form ul li input, select, span {
	float: left;
	margin-bottom: 10px;
}

form textarea {
	
	width: 350px;
	height: 150px;
	border:1px solid #669933;
}

#layout2 button{
	clear:left;
	margin-left:250px;
	width:40px;
	height:32px;
	
	background:#669933;
	line-height:31px;
	color:#ffffff;
	font-weight:bold;
	font-size:11px;
	border:1px solid #669900;
	border-radius:10px ;
	font-family: Verdana, Tahoma;
	font-size:14px;
	margin-top:10px;
}
.mail {
	font-family: Verdana, Tahoma;
	font-size:12px;
	text-align:center;
	margin-left:150px;
	padding-bottom:10px;
}
.ab{
	font-family: Verdana, Tahoma;
	font-size:10px;
}



